.cpage
  font-size: 14px;

p
  margin 0


.carbon-app
  width 1080px
  height 100%
  overflow hidden

.document-wrapper
  height calc(100% - 30px)
  top 5px
  width 800px
  left 40px

.carbon-app-container
  display flex

.carbon-demo-header
  width 160px
  display flex
  padding 10px 10px
  background-color #f5f5f5
  border-bottom 1px solid #e0e0e0
  flex-direction column
  gap 6px

.demo-name
  font-size 14px
  font-weight 600
  color #333
  background-color #eee
  padding 4px 8px
  border-radius 4px
  cursor pointer;
  &:hover
    background-color #ddd