@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .root {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
}

.carbon-sheet-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: mediumaquamarine; */
}
