#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

html, body, .root {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*make scrollbar narrower*/
.sidebar-content::-webkit-scrollbar {
  width: 3px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #eee;
  /*border-radius: 2px;*/
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

.carbon-app-container, .carbon-app {
  height: 100%;
  width 100%;
  position: relative;
}

.cdoc.document:after
    content: ''
    display: block
    clear: both

.carbon-app-cursor-rest
  display none

.cdoc
  font-size 15px
  font-family Geist Sans
  font-weight: 400

@media (max-width: 800px)
  .cdoc
    padding 30px 30px 30px 30px!important

[data-name=title]:after
    content: ''!important
    display: block
    clear: both

.carbon-selection.carbon-selecting,
.carbon-selection.block-selection
  caret-color: transparent
  user-select: auto!important

  ::selection
    background: hsla(213, 82%, 82%, 0.5)!important