#root {
  margin: 0 auto;
  padding: 2rem;
}

html, body, .root {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carbon-app-container, .carbon-app {
  height: 100%;
  width 100%;
  position: relative;
}

.cdoc.document:after
    content: ''
    display: block
    clear: both

.carbon-app-cursor-rest
  display none

.cdoc
  font-size 15px
  font-family Geist Sans
  font-weight: 400