@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .root {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
}

.carbon-sheet-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: mediumaquamarine; */
}

.carbon-selection-tracker {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
}

#chain {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

span[data-name=text] {
  /*font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;*/
  /*font-size: 16px;*/
  /*color: #000;*/
  /*letter-spacing: 0.04em;*/
}

[data-name=page] {
  padding: 0 10px;
}

.carbon-app-container.reactive [data-name="page"]{
  padding-top: 20px;
}
