[data-name=bulletList]
  > [data-name=title]
    :before
      content: '• '
      font-size: 1.2em
      line-height: 0.5em
      margin-right: 0.3em
      margin-left: 0.7em;
      vertical-align: middle