.carbon-board-app-container
  display flex
  flex-direction column
  height 100%
  width 100%
  overflow hidden
  .document-wrapper
    padding 0
  .cpage
    padding: 0;
    > [data-name=title]
      position absolute;
      left 6px
      top 6px
      z-index 100;
      background white
      padding: 4px 10px
      border-radius 4px
      margin: 0
      font-size: 14px
      line-height: 36px
      min-width 140px
      box-shadow 0 0 10px 2px #aaa
      &:after
        width 100%
        height: 100%
        padding 0 10px
